numpy
scipy
pandas
pyarrow
tqdm
pyyaml
omegaconf
scikit-learn
bm25s
faiss-cpu
torch
transformers
sentence-transformers
accelerate
matplotlib
seaborn
plotly
kaleido
psutil
nvidia-ml-py
codecarbon
huggingface_hub
datasets
requests
gdown
jupyterlab
ipykernel
ruff
black
pytest
